nav{ 
    border: 2px solid rgb(12, 12, 12);
    padding: 10px;
    display: flex;
    gap: 40px;
    align-items: center;
    font-size: medium;
}
.clasemenu {
    background-color: #5b9cd2;
    color:#453e5a ;
    font-size:small;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{ 
    width: 80px;
    height: 80px;
    border-radius: 100%;}


img{ 
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.galeria{
    border: 2px solid rgb(7, 7, 7);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;

}
.imagengaleria{ 
    border: 2px solid white;
    padding: 8px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    justify-content: center;
}



footer{
    
    color: white;
    background: black;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    font-size: x-small;
  
    
}

.imagenfooter{
    
    max-height: 20px;
    object-fit: cover;
    border-radius: 5px;
       
}